<%= form_with(model: Apply.new, local: true) do |form| %>
  <div class="r-c-content-jds <%= 'disabled' if @applied  %>" style="" id="applyJob" data-job="<%= job.id %>" >
    <span class="cc-title-jds <%= 'disabled' if @applied  %>" style="margin-left: 11px;color: #FFF;"><%= @applied ? 'You have applied' : 'Apply for this job'%></span>
  </div>
<% end %>
<style type="text/css">
  .disabled {
    background-color: #DDD!important;
    cursor: not-allowed;
    color: #484848!important;
  }
</style>
<script type="text/javascript">
  $("#applyJob").click(function(event){
    event.preventDefault();
    job = $(this).attr("data-job");
    if ($(this).hasClass('disabled')) {
      return
    }
    $.ajax({
      headers: { 'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content') },
      type: 'POST',
      url: '/applies',
      dataType: 'html',
      data: {
        job_id: job,
      },
      success: function(response) {
        alert("Your apply was sent.");
        $('.r-c-content-jds').addClass('disabled')
        $('.cc-title-jds').addClass('disabled')
        $('#applyJob').click(false);
        $('.cc-title-jds').html('You have applied')

      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert("Your apply is error. Please update your profile.");
      }
    });
  });
</script>
