<p id="notice"><%= notice %></p>

<p>
  <strong>Create:</strong>
  <%= @apply.create %>
</p>

<p>
  <strong>Destroy:</strong>
  <%= @apply.destroy %>
</p>

<%= link_to 'Edit', edit_apply_path(@apply) %> |
<%= link_to 'Back', applies_path %>
