<div class="sender-mess-item__content_right">
  <% if !isSent %>
    <img src="<%= message.user.avatar_url%>">
  <% end %>
  <div class="interview-invite <%= isSent ? 'f-right' : 'f-left' %>">
    <div class="c-interview-invite">
      <div class="i-i-time">
        <div class="m"><%= interview&.start_at.strftime("%b") %></div>
        <div class="d"><%= interview&.start_at.strftime("%d") %></div>
        <div class="wday"><%= interview&.start_at.strftime("%a") %></div>
      </div>
      <div class="i-i-content">
        <div class="i-tt"><%= interview&.title %></div>
        <div class="i-job">Job: <%= interview&.job.title %></div>
        <div class="i-time">When: <b style="font-size: 15px"><%= interview&.start_at.strftime("%H:%M%p") %></b></div>
        <div class="i-location">At: <b><%= interview&.location %></b></div>
      </div>
    </div>
  </div>
</div>
