<div class="job-resul-card map">
  <div class="m__job-result-card">
    <div class="content">
      <div class="job-views-and-type">
        <span class="job-views"><i class="fa fa-eye" style="color: #f8bc48; margin-right: 5px;"></i><%= job.view_count %> views</span>
        <span class="job-type"><%= job.job_type %></span>
      </div>  
      <%= link_to job do %>
        <div class="job-title">
          <h3><%= job.title %></h3>
        </div>
      <% end %>
      <div class="location">
        <i class="fas fa-map-marker-alt"></i>
        <%= job&.location%>
        <div style="float: right;">
          Score <%= score %>
        </div>
      </div>
      <%= link_to job do %>
        <div class="job-description">
          <% des = job.description.nil? ? job.about_candidate.gsub(/<\/?[^>]*>/, "") : job.description.gsub(/<\/?[^>]*>/, "") %>
          <span><%= truncate(des, length: 500) %></span>
        </div>
      <% end %>
    </div>  
  </div>
</div>