<script type="text/javascript">
  $(window).bind('scroll', function () {
    if ($(window).scrollTop() > 50) {
      $('.filter-items').addClass('fixed');
    } else {
      $('.filter-items').removeClass('fixed');
    }
});
</script>
<style type="text/css">
</style>
<div class="container" style="padding-top: 120px;">
  <div class="result-list-container">
    <%= render "search_box", common_locations: @common_locations, common_job_types: @common_job_types %>
    <div class="results-list-card">
      <div class="ac-filter" style="padding-bottom: 5px;">
        <div class="filter-wireframe">
          <div class="solf-by">
            <div>
              <h3 class="results-total-count">Show <%= @jobs.count %> jobs of <%= @total_results %></h3>
            </div>
          </div>
          <nav aria-label="Page navigation">
            <ul class="pagination" id="pagination" value="<%= @total_results %>"></ul>
          </nav>
        </div>

      </div>
      
      
      <div class="list-cards">
        <div class="list-center-content">
          <% if @jobs.present? %>
            <% @jobs.each do |job| %>
              <%= render 'job', job: job, score: @jobs_score.detect{ |e| e[:job_id] == job.id.to_s }[:job_score].round(2) %>
            <% end %>
          <% end %>  
        </div>
      </div>  
    </div>
  </div>
</div>