<div class="conpany-background" style="background-image: url(<%= @job.background_url %>);">
</div>
<div class="container" >
  <div class="c-job-details">
    <div class="l-content-jds">
      <div class="company-images">
        <div class="job-title" style="display: flex">
          <div class="company-img" style="display: flex;">
            <img src="<%= Company.all.sample.company_logo %>" style="width: 90px;max-height: 90px; border-radius: 4px;margin: auto;">
          </div>
          <div class="" style="display: inline-block;height: 90px;width: calc(100% - 120px);">
            <h3 style="line-height: 27px;"><%= @job.title %></h3>
            <div class="job-description" style="margin-top: 20px;">At <strong><%= @job.location %></strong></div>
            <div class="job-description"><%= raw @job.job_type + "  -  " +@job.pay_rate %></div>
            <span style="display: inline-block;position: relative;">
              <%= @job.created_at.strftime("%b %e") %> BY
              <div class="js-user-name"><%= @job.user.username%></div>
              <div class="js-chat-or-viewprofile">
                <ul>
                  <li>
                    <a href="">Chat with me</a>
                  </li>
                  <li>
                    <a href="">View profile</a>
                  </li>
                </ul>
              </div>
              <script type="text/javascript">
                $('.js-user-name').click(function(){
                  $('.js-chat-or-viewprofile').toggle();
                });
              </script>
            </span>
          </div>
        </div>
        <div class="job-title" style="margin-top: 60px;">
          <h3 style="font-size: 24px;font-weight: 500;margin-bottom: 20px;">About</h3>
          <div class="job-description"><%= raw @job.description %></div>
          <div class="job-description"><%= raw HtmlBeautifier.beautify(@job.about_candidate.html_safe.html_safe) %></div>
        </div>
      </div>
    </div>
    <div class="r-content-jds">
      <% if user_signed_in? && !current_user.is_recruiter?%>
        <%=  render "action_apply_and_share", job: @job%>
      <% end %>
      <h3 style="font-size: 18px; margin-left: 25px;margin-top: 40px;">Job URL</h3>
      <div class="r-c-content-jds" style="box-shadow: none;padding: 0;">
        <input type="" name="" value="http://localhost:3000/jobs/<%= @job.to_param%>">
      </div>
      <%= render "more_jobs", user: @job.user, jobs: @more_jobs %>
    </div>
  </div>
</div>
<%= render "/partials/footer"%>
