%header
  .header-content
    .web-logo
      %a{href:'/'}
        %img{ src: '/images/logo.png'}
    - if !current_page?('/search')
      .form-search-header
        .asd
          = form_tag search_path, method: 'get' do
            = text_field_tag :q, params[:q], placeholder: 'Search job by keyword', autocomplete: 'off', class: 'main-seach-job'
      .search-history
        .s-h-content
          .s-h-header
            %span Recent searches
          .s-h-list-items
            .h-item Finace
    %nav
      %ul.nav-list-item
        - unless user_signed_in?
          %li
            .a-item-content
              .a-center-content
                %a{href: '/login'}
                  %span.li-title Why Jobfinder?
          %li
            .a-item-content
              .a-center-content
                %a{href: '/login'}
                  %span.li-title Pricing
          %li
            .a-item-content
              .a-center-content
                %a{href: '/login'}
                  %span.li-title About Us
          %li
            .a-item-content
              .a-center-content
                %a{href: '/join'}
                  %span.li-title Become A Employ
          %li
            .a-item-content
              .a-center-content
                %a{href: '/login'}
                  %span.li-title Signin
        - else
          - if current_user.is_recruiter?
            %li
              .a-item-content
                .a-center-content
                  %a{href: '/new_recruitment'}
                    %i.fa.fa-plus.fa-lg{"aria-hidden" => "true"}
          %li
            .a-item-content
              .a-center-content
                %a{href: '/login'}
                  %i.far.fa-list-alt.fa-lg{"aria-hidden" => "true"}
          %li
            .a-item-content.message-link
              .a-center-content
                %a{href: 'javascript:;'}
                  %i.far.fa-envelope.fa-lg{"aria-hidden" => "true"}
                    - c_count = @conversations.count
                    %span.js-count-noti
                      #open_notification
                        = c_count > 0 ? c_count : ''
              .message-dropdown.js-dropdown-content
                .message-header
                  %a.see-all Messages
                  %a.mark-read-all Mark read all
                %ul#messageList{data_user: current_user.id}
                  - @conversations.each do |con|
                    = render 'conversations/conversation', conversation: con

          %li
            .a-item-content.notification-link
              .a-center-content
                %a{href: 'javascript:;'}
                  %i.far.fa-bell.fa-lg{"aria-hidden" => "true"}
                    - count = @notifications.count
                    %span.js-count-noti.notification{class: "#{"multi-notify" if count >= 10}"}
                      #open_notification
                        = count > 0 ? count : ''
              .notification-dropdown.js-dropdown-content
                .message-header
                  %a.see-all Notifications
                  %a.mark-read-all Mark read all
                %ul#notificationList{data_user: current_user.id}
                  - @notifications.each do |noti|
                    = render '/notifications/notification', notification: noti
          %li
            .a-item-content.account-link
              .a-center-content.dropdown-content
                %a{href: 'javascript:;'}
                  %i.fa.fa-user-circle.fa-lg{"aria-hidden" => "true"}
              .account-dropdown.js-dropdown-content
                %ul
                  %li
                    %a{href: '/profile'} My Profile
                  %li{style: 'border-bottom: 1px solid #EEE;'}
                    %a Activity
                  %li{style: 'margin-top: 6px;'}
                    %a{href: '/setting'} Setting
                  %li
                    %a Help Center
                  %li
                    %a Language
          %li
            .a-item-content
              .a-center-content
                = link_to(destroy_user_session_path, method: :delete) do
                  %span Signout

