%header
  .header-content
    .web-logo
      %a{href:'/'}
        %img{ src: '/images/logo.png'}
    .form-search-header
      .asd
        = form_tag search_path, method: 'get' do
          = text_field_tag :q, params[:q], placeholder: 'Search job by keyword'
    %nav
      %ul.nav-list-item
        - unless user_signed_in?
          %li
            .a-item-content
              .a-center-content
                %a{href: '/login'}
                  %span.li-title Why Jobfinder?
          %li
            .a-item-content
              .a-center-content
                %a{href: '/login'}
                  %span.li-title Pricing
          %li
            .a-item-content
              .a-center-content
                %a{href: '/login'}
                  %span.li-title About Us
          %li
            .a-item-content
              .a-center-content
                %a{href: '/login'} 
                  %span.li-title Become A Employ
          %li
            .a-item-content
              .a-center-content
                %a{href: '/login'}
                  %span.li-title Signin
        - else
          %li
            .a-item-content
              .a-center-content
                %a{href: '/new_recruitment'}
                  %i.fa.fa-plus.fa-lg{"aria-hidden" => "true"}
          %li
            .a-item-content
              .a-center-content
                %a{href: '/login'}
                  %i.far.fa-list-alt.fa-lg{"aria-hidden" => "true"}
                    %span.js-count-noti 
          %li
            .a-item-content.message-link
              .a-center-content
                %a{href: 'javascript:;'}
                  %i.far.fa-envelope.fa-lg{"aria-hidden" => "true"}
                    %span.js-count-noti 
              .message-dropdown.js-dropdown-content
                .message-header
                  %a.see-all Messages
                  %a.mark-read-all Mark read all
                %ul
                  .message-thread
                    %li
                      .message-item 
                        .user-icon
                          %img{src: '/images/profile_image.jpg'}
                        .message-content
                          .user-name Nam Di
                          .message Hiển thị ứng viên bên cạnh khi click vào 
                        .time
                          16:04
          %li
            .a-item-content.notification-link
              .a-center-content
                %a{href: 'javascript:;'}
                  %i.far.fa-bell.fa-lg{"aria-hidden" => "true"}
                    - count = @notifications.count
                    %span.js-count-noti.notification{class: "#{"multi-notify" if count >= 10}"}
                      #open_notification 
                        = count > 0 ? count : ''
              .notification-dropdown.js-dropdown-content
                .message-header
                  %a.see-all Notifications
                  %a.mark-read-all Mark read all
                %ul#notificationList{data_user: current_user.id}
                  - @notifications.each do |noti|
                    = render '/notifications/notification', notification: noti
                }
          %li
            .a-item-content.account-link
              .a-center-content.dropdown-content
                %a{href: 'javascript:;'}
                  %i.fa.fa-user-circle.fa-lg{"aria-hidden" => "true"}
              .account-dropdown.js-dropdown-content
                %ul
                  %li
                    %a{href: '/profile'} My Profile
                  %li{style: 'border-bottom: 1px solid #EEE;'}
                    %a Activity 
                  %li{style: 'margin-top: 6px;'}
                    %a{href: '/setting'} Setting
                  %li
                    %a Help Center
                  %li
                    %a Language  
          %li
            .a-item-content
              .a-center-content
                = link_to(destroy_user_session_path, method: :delete) do
                  %span Signout

:javascript
  $('.account-link, .notification-link, .message-link').click(function(){
    $(this).find("#open_notification").empty();
    $(this).children(".js-dropdown-content").show();
    $(this).addClass('active');
  });
  $('.mark-read-all').click(function(){
    $('.readed').removeClass('readed');
  });
  $(document).mouseup(function (e){
    var container = new Array();
    container.push($('.account-dropdown'));
    container.push($('.notification-dropdown'));
    container.push($('.message-dropdown'));
    
    $.each(container, function(key, value) {
      if (!$(value).is(e.target) // if the target of the click isn't the container...
        && $(value).has(e.target).length === 0) // ... nor a descendant of the container
      {
        $(value).hide();
        $('.a-item-content').removeClass('active');
        
      }
    });
  }); 