<div class="recruitments">
  <div class="c-cruitment-header">
    <div class="filter-header">
      <div class="title rcs-header" style="    display: flex;">
        <h3 style="font-size: 18px;margin: 0; padding: 8px;">All recruiments</h3>
        <%= form_tag root_path, method: 'get' do %>
          <%= text_field_tag :q, params[:q], placeholder: 'Search recruiments', autocomplete: 'off' %>
        <% end %>
      </div>
      <div class="filter-and-create-new">
        <div class="pages-job">
          <%= paginate jobs, window: 0 %>
        </div>
        <script type="text/javascript">
          $('.c-filter').click(function(){
            $('.filter').addClass('active-filter');
          });
          $('.js-filter-select').click(function(){
            $('.active-filter').removeClass('active-filter');
          });
        </script>
        <%= link_to new_recruitment_path do %>
          <div class="filter create-new" style="padding-left: 26px;">
            <i class="fas fa-plus"></i>
            <div class="create-job">Create new job</div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="table-header">
      <div class="id">#</div>
      <div class="title"><strong>TITLE</strong></div>
      <div class="views"><strong>VIEWS</strong></div>
      <div class="description"><strong>DESCRIPTION</strong></div>
      <div class="status"><strong>STATUS</strong></div>
      <div class="publish"><strong>PUBLISH</strong></div>
      <div class="end"><strong>END AT</strong></div>
    </div>
  </div>
  <div class="c-cruitment">
    <% jobs.each  do |job| %>
      <%= render 'job', job: job, applyers: job.applyers %>
    <% end %>
  </div>
</div>