<%= render "dashboard_left_menu", page: "applyers" %>
<div class="right-container">
  <div class="m--recruitment-content ">
    <div class="recruitments">
      <div class="c-appliers-header" style="margin-bottom: 26px;display: block;">
        <div class="filter-header">
          <div style="margin: auto 0;">
            <h3 style="font-size: 18px;margin: 0; padding: 8px;">Appliers</h3>
          </div>
          <div class="filter-appliers">
            <div class="pages-job">
              <%= paginate @applies, window: 0 %>
            </div>
          </div>
        </div>
      </div>

      <% @applies.each_slice(3) do |f_apply| %>
        <div class="c-appliers">
          <% f_apply.each do |apply| %>
              <div class="applier">
                <div>
                  <div class="applier-info">
                  <%= link_to jf_path(apply.applyer), class: "user-avatar" do %>
                    <img src="<%= apply.applyer.avatar_url %>">
                  <% end %>
                  <div class="user">
                    <%= link_to jf_path(apply.applyer), class: "user-name" do %>
                      <strong style="color: #717171;"><%= apply.applyer.username %></strong>
                    <% end %>
                    <div class=email><%= apply.applyer.email %></div>
                    <div class="applier-actions">
                      <a href="/send_mail_to?receiver_id=<%= apply.applyer.id%>" style="color: #5897fbb8" >Mail</a>
                    </div>
                  </div>
                </div>

                <div class="job">
                  <%= link_to apply.job, class: "title" do %>
                    <strong style="color: #717171;">JOB:  <%= apply.job.title %></strong>
                  <% end %>
                  <div class="orther-applyer">
                    <div class="applyer-list">
                      <% apply.job.applies.each do |ap|%>
                        <div class="user-avatar">
                          <img src="<%= ap.applyer.avatar_url%>">
                        </div>
                      <% end %>
                      <% if  apply.job.applies.count > 4 %>
                        <div style="display: inline-block;margin: auto;color: #5897fbb8"><%=  apply.job.applies.count -4 %> more</div>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="view-details">
                  <%= link_to jf_path(apply.applyer), class: "user-name" do %>
                      <strong>View Profile</strong>
                    <% end %>

                </div>
                </div>

              </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
