<%= render "dashboard_left_menu", page: "rc-messages" %>
<div class="right-container">
  <div class="m--recruitment-content ">
    <div class="recruitments">
      <div class="message-threads">
        <div class="c-message-threads">
          <div class="c-message-thread c-message-thread__left-content">
            <div class="c-message-thread__header">
              <h2 >Messages</h2>
              <i class="fa fa-pencil fa-lg" aria-hidden="true" style="">
                <!-- <span class="tooltiptext">Create new message</span> -->
              </i>
            </div>
            <div class="message-search-form" >
              <input type="text" name="" placeholder="Search message">
            </div>
            <div class="sender-listitem">
              <% @conversations.each do |conversation| %>
                <div class="sender-item active-sender-item">
                  <div class="sender-header">
                    <span class="sender-name"><%= conversation.receiver.username %><i class="fa fa-circle" aria-hidden="true"></i></span>
                    <span class="send-time">
                      <%= time_ago_in_words(conversation.updated_at) %> ago
                    <i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                  </div>
                  <div class="sender-sort-sumary">
                    <span><%= truncate(@received_messages.first.content, :length => 60) %></span>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="c-message-thread c-message-thread__right-content">
            <div class="o-message-thread_list-mess">
              <div class="message-search">
                <div class="message-search-form" style="display: flow-root;font-size: 20px;">
                </div>
              </div>
              <div id="thread_content" class="message-thread-content" data_user="<%= current_user.id %>" data-conversation="<%= @recent_conversation.id %>" data-status="<%= @recent_conversation.status %>">
                <div class="message-item sender-mess-item">
                  <% @list_messages.each do |mes| %>
                    <% if mes.user_id == current_user.id %>
                      <div class="sender-mess-item__content" style="">
                        <div class="sender-mess-item__content_right">
                          <div class="sender-mess-item__avatar item__avatar_right">
                            <!-- <span class="sender-mess-time"><%= mes.created_at.strftime("%H:%M") %></span> -->
                          </div>
                        </div>
                        <div class="sender-mess-item__content_right">
                          <div class="sender-mess-item__text right-mess-text"><%= mes.content %></div>
                        </div>
                      </div>
                    <% else %>
                      <div class="sender-mess-item__content">
                        <!-- <div class="sender-mess-item__avatar">
                          <span class="sender-mess-time"><%= mes.created_at.strftime("%H:%M") %></span>
                        </div> -->
                        <div class="sender-mess-item__content_right">
                          <img src="<%= mes.user.avatar_url %>"/>
                          <div class="sender-mess-item__text short-mess-text"><%= mes.content %></div>
                          </div>
                      </div>
                    <% end %>
                  <% end %>    
                </div>
              </div>
              <div class="message-form">
                <input class="message-input" type="text" placeholder="Type a message here...">
              </div>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>
</div>