!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Searchapp
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    = render 'partials/header'
    = yield
    = render 'partials/footer'
= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'