!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Searchapp
    = csrf_meta_tags
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = javascript_include_tag '//cdn.ckeditor.com/ckeditor5/1.0.0-beta.3/classic/ckeditor.js'
  %body
    = render 'partials/header'
    = yield
    .widget-container 
      .small-chat
        .layout-small-icon
        .layout-expand
          .messenger
            .messenger-header
              %h3 How can we help you?
              .icon-messenger-close
                %i.fa.fa-times.fa-lg
              :javascript
                $('.small-chat').hide()
                $('.icon-messenger-close').click(function(){
                  $('.small-chat').hide()
                });
            .messenger-content
              .messages
              .message-input
                %input{placeholder: 'Send a message'}
                %i.fa.fa-paper-plane-o.fa-lg{"aria-hidden" => "true"}
