<div class="container">
  <div class="zz-signup-content">
    <h2 class="sign-up-header-title">Join with Jobfinder</h2>
    <span style="font-size: 15px;">Create your awesome profile and connect to employ</span>
    <div class="zz-steps-signup">
      <div class="left-step-menu">
        <%= render "partials/sign_up_navbar_steps_menu"%>
      </div>
      <div class="right-step-menu">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class="m--step-one">
            <h2>Setup your personal account</h2>
            <%= devise_error_messages! %>
            <div class="field">
              <%= f.label :username %><br />
              <%= f.text_field :username, autofocus: true, class: 'form-control' %>
              <span>This will be your username.</span>
            </div>
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, class: 'form-control' %>
              <span >We'll occasionally send updates about your account to this inbox. We'll never share your email address with anyone.</span>
            </div>

            <div class="field">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <!-- <em>(<%= @minimum_password_length %> characters minimum)</em> -->
              <% end %><br />
              <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
              <span>Use at least one lowercase letter, one numeral, and seven characters.</span>
              <%= f.hidden_field :rederect, value: "plan" %>
            </div>
             <div class="actions">
              <%= f.submit "Create an account" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
